{
  "presets": ["react-app"],
  "plugins": [
    ["emotion"],
    "lodash",
    "transform-async-generator-functions",
    [
      "react-intl",
      {
        "messagesDir": "./src/i18n/build/messages"
      }
    ],
    [
      "import",
      {
        "libraryName": "antd"
      }
    ],
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    ["@babel/plugin-proposal-class-properties", { "loose": true }]
  ]
}
